html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
  margin: auto;
}

#homelogo {
  width: 16rem;
  height: auto;
  margin-top: 2%;
}

nav {
  background-color: #678d58;
  margin: 2% 0;
}

nav img {
  float: left;
  width: 33.33%;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 3rem;
  margin: rem;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.19rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

#aboutme {
  background-color: #678d58;
  height: auto;
}

#aboutme p {
  display: block;
  margin: auto;
  text-align: center;
  padding: 2% 10%;
  color: white;
  margin: auto;
  width: 25rem;
}

#bottomhalf {
  background-color: #678d58;
}

@media (max-width: 1000px) {
  nav {
    margin: 0;
  }
  nav img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
  }

  #aboutme p {
    display: block;
    margin: auto;
    text-align: center;
    text-align: center;
    width: auto;
  }

  nav {
    position: static;
  }

  #homelogo {
    width: 12rem;
  }
}
